.homepage_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f5f5f7;
    font-family: sans-serif;
}

.homepage_url_label {
    font-size: 13px;
    font-weight: bold;
}

.homepage_server {
    font-size: 14px;
    color: #008889;
}

.homepage_header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    height: 60px;
    padding: 0 24px;
}

.homepage_left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.home_icon {
    font-size: 20px;
}

.home_link {
    text-decoration: none;
    color: #4a78ff;
    font-weight: 600;
}

.logout_button {
    background: #4a78ff;
    color: white;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

/* Tabs bar */
.homepage_tabs {
    flex-shrink: 0;
    display: flex;
    justify-content: left;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 20px;
}

.tab_button {
    background: none;
    border: none;
    padding-top: 0;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    border-bottom: 0;
    border-left: 0;
    cursor: pointer;
    font-size: 16px;
}

.tab_button:hover {
    color: #4a78ff;
    background: #f0f3ff;
}

.tab_button_active {
    font-weight: 600;
    color: #4a78ff;
    border-bottom: none;
    border-left: 0;
    border-right: 2px solid;
    border-top: 2px solid;
    font-size: 16px;
    border-radius: 0 6px 0 0 ;
}

.homepage_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    padding: 32px;
}

.tab_panel {
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    padding: 32px;
    width: 100%;
    max-width: 900px;
}
